.btn {
  background: #8eadd5;
  border-radius: 8px;
  padding: 10px 31px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background: #4675b2;
}
