/* common */

.common_section {
  margin-top: 136px;
  display: flex;
  justify-content: space-between;
  gap: 179px;
  align-items: center;
  text-align: left;
}

.common_section h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-transform: capitalize;
}

.common_section p {
  padding: 25px 0 45px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-transform: capitalize;
}

.common_section .arrow {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.common_section .arrow:hover {
  transform: translateX(30%);
}


/* --------------------------------------- */

@media screen and (max-width: 429px) {
  .common_section {
    margin-top: 88px;
    justify-content: center;
    text-align: center;
    flex-direction: column-reverse;
    gap: 24px;
  }

  .common_section h2 {
    font-size: 32px;
  }
  .common_section p {
    font-size: 14px;
  }

  .common_section .arrow {
    transform: rotate(90deg);
  }
  .common_section .arrow:hover {
    transform: translate(0, 30%) rotate(90deg);
  }

  .common_img {
    width: 375px;
    display: flex;
    justify-content: center;
  }
  .common_img img {
    width: 100%;
  }
}
